.nav {
    color: white;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.colt {
    margin-left: 50px;
    margin-right: -20%;
}
#city-input {
    padding: 12px;
}
#search-city {
    background-color: rgb(6, 86, 179);
    padding: 15px;
    font-size: 15px;
    color: white;
    border-radius: 3px; 
     
}
.colc {
    border: inset;
    width: 60%;
    border-right: aliceblue;
    margin-top: 20px;
    margin-left: 10%;

}
.tr {
    border: ridge;
}
